<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <%- include('partials/head'); %>
        <!-- <script src="./javascripts/featured-fetch.js"></script> -->
</head>

<body onload="onload();">
    <%- include('partials/navbar'); %>


        <!-- Bacground Video -->
        <video id="idle_video" data-aos="fade-up" data-aos-duration="1000" muted preload autoplay="true"
            onended="onVideoEnded();">
        </video>

        <!-- Background Music -->
        <audio id="bgsound" src="/music/motivational.mp3"></audio>

        <!-- Background Controls -->
        <div class="btn-group-vertical audiostyle">
            <button id="playpause" type="button" class="btn btn-secondary" onclick="playpause()">Pause</button>
            <button id="muteunmute" type="button" class="btn btn-secondary" onclick="muteunmute()">Unmute</button>
        </div>

        <!-- Spacing -->
        <div class="jumbotron jumbotron-fluid banner tranparent">
            <div class="container">
                <div class="bannerBox">
                    <div class="shift-up">
                    </div>
                </div>
            </div>
        </div>

        <!-- SBA 8(a) Certification -->
        <div class="container" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="100">
            <div class="jumbotron tranparent7 shift-down" id="sba-div">
                <p class="lead">PRC Engineering is a privately-owned SBA 8(a) certified small business offering
                    engineering and
                    consulting services to Federal, County, and State government agencies as well as private sector
                    clientele. Our
                    core services include Water Resources, Site Development, Utilities (Water and Wastewater),
                    Transportation and
                    Energy Conservation.</p>
                <hr class="my-4">
                <div class="container-sm">
                    <img class="sba" src="/images/8a-logo.jpg" alt="SBA logo">
                    <p>More information about the services we offer</p>
                    <a class="btn btn-primary btn-lg" href="/pdf/More-Information-about-the-services-we-offer.pdf"
                        target="_blank" role="button" data-toggle="tooltip" data-placement="right"
                        title="Opens in new tab">Click to learn more</a>
                </div>
            </div>
        </div>

        <!--Featured projects header-->
        <div class="container">
            <section class="about" id="about">
                <div class="row" data-aos="fade-in" data-aos-duration="1000">
                    <div class="offset-sm-2 col-sm-8">
                        <div class="hText">
                            <h2 class="text-center">Featured Projects</h2>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- Featured project cards -->
        <section class="featProj">
            <div class="container">
                <div class="card-deck" id="ajaxCardResponse">
                </div>
            </div>
        </section>

        <div id="ajaxModalResponse">

        </div>

        <div>
            <p>Testing:</p>
            <p id="test"></p>
        </div>

        <!-- Footer -->
        <%- include('partials/footer'); %>


            <%- include('partials/endScripts'); %>
                <script>
                    var video_list = ["video1.mp4", "video2.mp4", "video3.mp4", "video4.mp4"];
                    var video_index = 0;
                    var video_player = null;
                    var sound = null;
                    function onload() {
                        video_player = document.getElementById("idle_video");
                        video_player.setAttribute("src", "videos/" + video_list[video_index]);
                        video_player.play();
                        // document.getElementById('bgsound').play()
                        sound = document.getElementById("bgsound");
                        sound.loop = true;
                        sound.muted = true;
                        sound.autoplay = true;
                        sound.load();

                        // issue AJAX request
                        getFeatured()
                    }
                    function onVideoEnded() {
                        video_player.setAttribute("data-aos", "fade-out");
                        if (video_index < video_list.length - 1) {
                            video_index++;
                        } else {
                            video_index = 0;
                        }
                        video_player.setAttribute("src", "videos/" + video_list[video_index]);
                        video_player.load();
                        video_player.play();
                    }

                    function playpause() {
                        var vid = document.getElementById('idle_video')
                        var sound = document.getElementById('bgsound')
                        var text = document.getElementById('playpause')

                        if (vid.paused) {
                            text.innerHTML = "Pause";
                            sound.play();
                            vid.play();
                        } else {
                            text.innerHTML = "Play";
                            sound.pause()
                            vid.pause()
                        }

                    }

                    function muteunmute() {
                        var sound = document.getElementById('bgsound')
                        var text = document.getElementById('muteunmute')
                        sound.play()

                        if (sound.muted) {
                            text.innerHTML = "Mute";
                            sound.muted = false;
                        } else {
                            text.innerHTML = "Unmute";
                            sound.muted = true;
                        }
                    }

                    // Enables hover tooltips
                    $(function () {
                        $('[data-toggle="tooltip"]').tooltip()
                        trigger: 'hover'
                    })

                    $('[rel="tooltip"]').on('click', function () {
                        $(this).tooltip('hide')
                    })


                    function getFeatured() {
                        var xhttp = new XMLHttpRequest();

                        let featuredCards = '';
                        let featuredModals = '';

                        let number = '';
                        let project_name = '';
                        let project_note = '';
                        let project_description = '';
                        let project_image = '';
                        let project_image_description = '';
                        let bFeatured = '';

                        // console.log("Sending AJAX Request")
                        xhttp.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                let jsonObj = JSON.parse(xhttp.responseText);
                                console.log(jsonObj)
                                document.getElementById("test").innerHTML = jsonObj;



                                jsonObj.forEach(element => {
                                    // number = element.id;
                                    // project_name = element.project_name;
                                    // project_note = element.project_note;
                                    // project_description = element.project_description;
                                    // project_image = element.project_image;
                                    // project_image_description = element.project_image_description;
                                    // bFeatured = element.bFeatured;

                                    number = element.id;
                                    project_name = element.id;
                                    project_note = element.id;
                                    project_description = element.id;
                                    project_image = element.id;
                                    project_image_description = element.id;
                                    bFeatured = element.bFeatured;

                                    featuredCards += `<div class="card border-dark shadow-lg text-center" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100"><img src = "` + project_image + `" class="card-img-top" alt = "` + project_image_description + `"><div class="card-body">
                                                            <h5>` + project_name + `</h5>
                                                        </div>
                                                        <div class="card-footer">
                                                                <p>` + project_note + `</p>
                                                            <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#Modal` + number + `">
                                                                View Project
                                                            </button>
                                                        </div>
                                                    </div > `;

                                    featuredModals += `<div class="modal fade" id="Modal` + number + `" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                                                                    <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="ModalLabel">`+ project_name + `</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">`+ project_description + `
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                            </div>`;

                                    document.getElementById("ajaxCardResponse").innerHTML = featuredCards;
                                    document.getElementById("ajaxModalResponse").innerHTML = featuredModals;
                                });
                            }
                        };
                        xhttp.open("GET", "/ajaxRequest", true);
                        xhttp.send();
                    }


                </script>
</body>

</html>