<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <%- include('partials/head'); %>
</head>

<body onload="onload();">
    <%- include('partials/navbar'); %>

        <!-- Background image -->
        <div id="bg">
            <img src="\images\backgrounds\Snowy-rocky-mountains.jpg" alt="Background Img">
        </div>

        <div class="jumbotron jumbotron-fluid banner2 tranparent">
        </div>

        <!-- Projects header-->
        <div class="container">
            <section class="about" id="about">

                <div class="row" data-aos="fade-in" data-aos-duration="1000">
                    <div class="offset-sm-2 col-sm-8">
                        <div class="hText">
                            <h2 class="text-center">Projects</h2>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section class="featProj">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3" id="ajaxCardResponse">
                        <!-- <button onclick="myfunction()" id="myBtn" title="Go to top">Top</button> -->
                        <input type="image" class="projbtn" src="images/projects/Academy-Bridge2-791x1024.jpg"
                            onclick="myfunction()" />
                        <input type="image" class="projbtn" src="images/projects/Random-Rd-pond2-791x1024.jpg"
                            onclick="myfunction()" />
                        <input type="image" class="projbtn" src="images/projects/W-Colorado-1024x721.jpg"
                            onclick="myfunction()" />
                        <!-- <div class="jumbotron shift-down"> -->
                        <!-- </div> -->
                    </div>
                    <div class="col-sm">
                        <div class="jumbotron shift-down">
                            <div>
                                <h2 id="projectTitle">Project thumbnails</h2>
                                <hr class="my-4">
                                <p id="projectDescription">
                                    The projects are dynamically added to the left as image thumbnails
                                </p>
                                <hr class="my-4">
                                <p id="projectNote">
                                    Enjoy
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!-- Footer -->
        <%- include('partials/footer'); %>


            <%- include('partials/endScripts'); %>
                <script>

                    function onload() {
                        getprojects()
                    }


                    // Enables hover tooltips
                    $(function () {
                        $('[data-toggle="tooltip"]').tooltip()
                        trigger: 'hover'
                    })

                    $('[rel="tooltip"]').on('click', function () {
                        $(this).tooltip('hide')
                    })

                    function myfunction() {
                        console.log("CLICKED");
                    }


                    function getprojects() {
                        var xhttp = new XMLHttpRequest();

                        let projectCards = '';
                        let featuredModals = '';

                        let number = '';
                        let project_name = '';
                        let project_note = '';
                        let project_description = '';
                        let project_image = '';
                        let project_image_description = '';
                        let bFeatured = '';

                        xhttp.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                let jsonObj = JSON.parse(xhttp.responseText);
                                console.log(jsonObj)
                                // document.getElementById("ajaxCardResponse").innerHTML = projectCards;


                                jsonObj.forEach(element => {
                                    number = element.id;
                                    project_name = element.project_name;
                                    project_note = element.project_note;
                                    project_description = element.project_description;
                                    project_image = element.project_image;
                                    project_image_description = element.project_image_description;
                                    bFeatured = element.bFeatured;

                                    projectCards += `<input type="image" class="projbtn" src="` + project_image + `" onclick="myfunction()" />`;


                                    document.getElementById("ajaxCardResponse").innerHTML = projectCards;
                                });
                            }
                        };
                        xhttp.open("GET", "/ajaxProjectRequest", true);
                        xhttp.send();
                    }


                </script>
</body>

</html>