<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/navbar'); %>

        <div id="bg">
            <img src="\images\backgrounds\Snowy-rocky-mountains.jpg" alt="Background Img">
        </div>

        <div class="jumbotron jumbotron-fluid banner2 tranparent shift-down">
        </div>

        <!-- Who we are -->
        <div class="container" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="100">
            <div class="jumbotron shift-down">
                <div>
                    <h2>Who We Are</h2>
                    <hr class="my-4">
                    <p>
                        Peak Resource Conservation, Inc. (PRC), a Colorado Department of Transportation (CDOT) Certified
                        Disadvantaged
                        Business Enterprise (DBE) and Emerging Small Business (ESB), is a multi-disciplinary engineering
                        firm
                        providing
                        comprehensive services in the fields of Civil Engineering, Water Resources, Energy Conservation,
                        and Utility
                        design. Our general experience includes numerous public improvement projects for water mains,
                        sanitary sewer
                        mains, storm sewers, major storm water, and roadway projects, all of which include both new
                        projects and
                        rehabilitation projects. PRC also has extensive experience in site design including subdivision
                        development,
                        apartment complexes, condominiums, and commercial property site development.
                    </p>
                    <p>
                        Both public and private agencies have come to rely on the professional, personal and timely
                        service we
                        provide.
                        Our clientele includes a diverse group of public and private clients as well as Architects, Home
                        Builders and
                        fellow Engineers. We understand our clients expect us to listen to their needs, provide honest
                        and thoughtful
                        feedback, and deliver exceptional results. We pride ourselves on our ability to work together
                        with our clients
                        to produce cost effective designs that meet our clients’ needs and desires. We are focused on
                        building
                        Community
                        Value for clients we serve through clean water, safe roads and responsible development.
                    </p>
                    <p>
                        Our team of experienced and courteous professionals will assist you in every way they can to
                        assure that your
                        project is handled efficiently, accurately, and with the highest level of professional
                        integrity. We will work
                        hard to earn your business. We invite you to experience the PRC difference. Please contact us
                        today to find
                        out
                        why many of our repeat clients choose PRC for their civil engineering needs on projects large
                        and small.
                    </p>
                </div>
                <hr class="my-4">
                <div class="card mb-3 tranparent border-0" style="max-width: 100%;">
                    <div class="row no-gutters justify-content-center">
                        <div class="col-md-4 row align-items-center">
                            <!-- <br /> -->
                            <img src="/images/Perez-Headshot-300x282.jpg" class="card-img img-thumbnail" alt="...">
                            <div>
                                <h5 class="card-title">Ray Perez, P.E.</h5>
                                <a href="/pdf/Ray-Perez-Resume.pdf" target="_blank">Ray Perez Bio</a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">Mr. Perez, President of PRC and the Managing Partner, is a
                                    Professional Engineer with
                                    25 years of experience in Civil Engineering. Ray has worked with a variety of
                                    clients including
                                    municipalities and private developers and has developed exceptional management
                                    skills for all types of
                                    development and construction projects. Ray has led numerous projects to completion
                                    under budget and on
                                    time utilizing his engineering experience, confident decision making, and superior
                                    project management
                                    skills.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!-- Footer -->
        <%- include('partials/footer'); %>


            <%- include('partials/endScripts'); %>
                <script>

                </script>
</body>

</html>